#website-form input:focus {
    outline: none !important;
    border-color: #8A2BE2 !important;
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.5) !important;
}
#website-form .form-check-input:checked {
    background-color: #8A2BE2 !important;
    border-color: #8A2BE2 !important;
}

#website-form .form-card .form-check-input {
    margin-top: 0.3em;
}

#website-form .form-card .form-check-label {
    margin-left: 0.5em;
}


@media (max-width: 768px) {
    #website-form .row {
        flex-direction: column;
    }
    
    #website-form .gap-4 {
        gap: 1rem !important;
    }
}

@media (max-width: 576px) {
    #website-form .form-container {
        padding: 10px;
    }
}
