#dashboard .color-bg {
    background: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-bottom-right-radius: 20px !important;
    height: 100%;
    color: black;
}

#dashboard .color-bg:hover {
    background: #a8c5f8;
    color: #fff !important;
    transform: translateY(-5px);
    cursor: pointer;
    animation: glowEffect 1.5s infinite alternate ease-in-out;
}

@keyframes glowEffect {
    0% {
        box-shadow: 0 8px 20px rgba(186, 53, 139, 0.3);
    }
    100% {
        box-shadow: 0 8px 35px rgba(250, 176, 47, 0.8);
    }
}

.bg-color-page {
    background-color: rgb(250, 248, 248);
}

#dashboard .button-color-add {
    background: linear-gradient(to right, #F57F42 0%, #F55570 100%);
    border-radius: 25px !important;
}

#dashboard .btn-manage {
    background: linear-gradient(to right, #F57F42 0%, #F55570 100%);
    border-radius: 25px !important;
    color: white !important;
}

#dashboard .btn-users {
    background: linear-gradient(to right, #F57F42 0%, #F55570 100%);
    border-radius: 25px !important;
    color: white !important;
}

#dashboard .bg1-light {
    background-color: #f1f1f1;
}

#dashboard a {
    color: #6c757d !important;
    transition: color 0.3s ease-in-out; 
}

/* #dashboard a:hover {
    color: rgb(76, 76, 249) !important;
} */

#dashboard .i-move {
    transition: transform 0.3s ease-in-out; 
}

#dashboard a:hover .i-move {
    transform: translateX(5px);
}

table th{
    background-color: #EDEDED !important;
    color: #000000 !important;
    font-size: 15px !important;
    line-height: 16.41px !important;
    padding: 10px 10px !important;
}

.breadcrumb {
    background-color: #FBE9ED !important;
    padding: 13px 10px !important;
    border-radius: 5px !important;
    border: 1px solid #FBE9ED !important;
}

.breadcrumb-item {
    color: #5b5b5b !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 16.41px !important;
}

.active1 {
    color: #E3435A !important;
}