#dashboard .color-bg {
    background: #ffffff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 1px 6px 8px rgba(138, 43, 226, 0.2);
    padding: 15px;
    border-bottom-right-radius: 20px !important;
    height: 100%;
    color: black;
}

#dashboard .color-bg:hover {
    background: #a8c5f8;
    color: #fff !important;
    transform: translateY(-5px);
    cursor: pointer;
    animation: glowEffect 1.5s infinite alternate ease-in-out;
}

@keyframes glowEffect {
    0% {
        box-shadow: 0 8px 20px rgba(138, 43, 226, 0.3);
    }

    100% {
        box-shadow: 0 8px 35px rgba(138, 43, 226, 0.3);
    }
}


.bg-color-page {
    background-color: rgb(250, 248, 248);
}

#dashboard .website-link {
    color: #6c757d !important;
    transition: color 0.3s ease-in-out;
}

.button-color-add {
    background: linear-gradient(to right, #8433c9 0%, #b26af5 100%) !important;
    border-radius: 25px !important;
    color: white !important;
}

.btn-manage {
    background: linear-gradient(to right, #8433c9 0%, #b26af5 100%) !important;
    border-radius: 25px !important;
    color: white !important;
}

.btn-users {
    background: linear-gradient(to right, #8433c9 0%, #b26af5 100%) !important;
    border-radius: 25px !important;
    color: white !important;
}


#dashboard .bg1-light {
    background-color: #f1f1f1;
}


#dashboard .i-move {
    transition: transform 0.3s ease-in-out;
}

#dashboard a:hover .i-move {
    transform: translateX(5px);
}

table th {
    background-color: #EDEDED !important;
    color: #000000 !important;
    font-size: 15px !important;
    line-height: 16.41px !important;
    padding: 10px 10px !important;
}

.breadcrumb {
    background-color: rgba(138, 43, 226, 0.1) !important;
    padding: 13px 10px !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 191, 255, 0.2) !important;
}

.breadcrumb-item {
    color: rgba(91, 91, 91, 0.9) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 16.41px !important;
}

.active1 {
    color: #8A2BE2 !important;
    font-weight: 600 !important;
}

@media (max-width: 500px){

    .breadcrumb-item {
        margin-bottom: 6px;
    }
    .breadcrumb-item {
        display: flex;
        align-items: center;
        line-height: 1; /* Ensures text aligns well */
    }
    
}

@media (max-width: 370px){

    #dashboard .btn-manage {
        font-size: 13px;
        padding: 7px 10px !important;
    }
    
    #dashboard .btn-users {
       font-size: 13px;
       padding: 7px 10px !important;
    }

}